// bower:scss
// endbower

$color-primary: #cc6666;

@import "menu";

body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.4;
	color: #333;
}

main {
	width: 80%;
	margin: 48px auto;
}

a {
	color: $color-primary;
	border-bottom: solid 1px darken($color-primary, 8%);
}

.btn {
	border: none;
	background: $color-primary;
	color: #fff;
	padding: 4px 12px;
	border-radius: 4px;
}