// bower:scss
// endbower

$color-primary: #cc6666;

body {
	font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.4;
	color: #333;
}

main {
	width: 80%;
	margin: 48px auto;
}

a {
	border-bottom: solid 1px darken($color-primary, 8%);
	color: $color-primary;
}

main .btn {
	border: none;
	background: $color-primary;
	color: #fff;
	padding: 4px 12px;
	border-radius: 4px;
	font-size: 16px;
}

.slide-menu {
	background: $color-primary;

	.slider {
		top: 48px;
	}

	a {
		color: #fff;
	}

	.btn:last-of-type {
		float: right;
	}
}