$color-primary: #368883;

*:active, *:focus {
  outline: none !important;
}

html {
  font-size: 1.2rem;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  color: fade_out(#000, 0.1);
}

h1 {
  font-size: 2rem;
  font-weight: bold;

  small {
    margin-left: .3rem;
    color: fade_out(#000, 0.6);
    font-size: 60%;
  }
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: $color-primary;
}

p {
  margin-bottom: 2em;
}

.btn-list {
  margin-bottom: 1.5rem;
}


.btn {
  padding: .6rem .8rem .64rem .8rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 85%;
  line-height: 1;
}


.icon {
  height: .6rem;
  margin: 0 .1rem;
}

main {
  display: block; // IE11
  width: 90%;
  margin: 2.5rem auto;

  .btn {
    width: 100%;
    display: block;
    margin: 0 0.25rem 0.75rem 0;
    background-color: $color-primary;
    border-radius: 0.2rem;
  }

  @media (min-width: 768px) {
    max-width: 40rem;

    .btn {
      width: auto;
      display: inline-block;

      &:hover {
        background-color: darken($color-primary, 6%);
      }
    }
  }
}

.slide-menu {
  width: 340px;
  background-color: $color-primary;

  &, a {
    font-size: .85rem;
    color: #fff;
  }

  a {
    padding: 0.9rem 1.5rem;
    text-decoration: none;
    border-bottom: solid 1px darken($color-primary, 6%);

    &:hover {
      background-color: darken($color-primary, 6%);
    }
  }

  .controls {
    display: flex;
    margin-bottom: 1rem;
  }

  .btn {
    padding: 0.5rem;
    flex: 1 0 auto;
    font-size: 90%;
    color: #fff;
    background-color: darken($color-primary, 12%);

    &:hover {
      background-color: darken($color-primary, 12% + 4%);
    }

    &:first-of-type:before {
      content: '⇐';
      margin-right: .5rem;
    }

    &:last-of-type:before {
      content: '❌';
      margin-right: .5rem;
    }
  }
}

#test-menu-left p {
  font-size: 110%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
