$color-primary: #368883;
$color-danger: #dc3545;

*:active, *:focus {
  outline: none !important;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  color: fade_out(#000, 0.1);
}

h1 {
  font-size: 2rem;
  font-weight: bold;

  small {
    margin-left: 0.3rem;
    color: fade_out(#000, 0.6);
    font-size: 60%;
  }
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: $color-primary;
}

p {
  margin-bottom: 2em;
}

footer {
  margin-top: 2rem;
}

.btn {
  padding: 0.6rem 0.8rem 0.64rem 0.8rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 85%;
  line-height: 1;
}


.icon {
  height: 0.6rem;
  margin: 0 0.1rem;
}

main {
  display: block; // IE11
  width: 90%;
  margin: 2.5rem auto;

  .btn {
    width: 100%;
    display: block;
    margin: 0 0.2rem 0.8rem 0;
    background-color: $color-primary;
    border-radius: 0.2rem;
    font-size: 75%;
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    max-width: 40rem;

    .btn {
      width: auto;
      display: inline-block;

      &:hover {
        background-color: darken($color-primary, 6%);
      }
    }

    .btn-danger {
      background-color: $color-danger;

      &:hover {
        background-color: darken($color-danger, 12% + 4%);
      }
    }
  }
}

.slide-menu {
  width: 340px;
  background-color: $color-primary;

  &, a {
    font-size: 0.85rem;
    color: #fff;
  }

  a {
    padding: 0.9rem 1.5rem;
    text-decoration: none;
    border-bottom: solid 1px darken($color-primary, 6%);

    &:hover {
      background-color: darken($color-primary, 6%);
    }
  }

  .controls {
    display: flex;
    margin-bottom: 1rem;
  }

  .btn {
    padding: 0.5rem;
    flex: 1 0 auto;
    font-size: 90%;
    color: #fff;
    background-color: darken($color-primary, 12%);

    &:hover {
      background-color: darken($color-primary, 12% + 4%);
    }

    &:first-of-type:before {
      content: '⇐';
      margin-right: 0.5rem;
    }

    &:last-of-type:before {
      content: '❌';
      margin-right: 0.5rem;
    }
  }
}

#test-menu-left p {
  font-size: 110%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
