$menu-width: 320px !default;
$menu-bg: #333 !default;

$link-color: #fff !default;
$link-padding: 12px 24px !default;

$transition-dur: 300ms !default;
$transition-easing: ease-in-out !default;


@mixin list-unstyled {
	padding-left: 0;
	list-style: none;
}

.slide-menu {
	position: fixed;
	width: $menu-width;
	height: 100vh;
	top: 0;
	right: 0;
	overflow: hidden;
	background: $menu-bg;
	transition: all $transition-dur $transition-easing;
	transform: translateX($menu-width);
	z-index: 1000;

	.slider {
		position: absolute;
		top: 0;
		left: 0;
		transition: all $transition-dur $transition-easing;
		transform: translateX(0);
	}

	ul {
		@include list-unstyled;

		position: relative;
		width: $menu-width;
		margin: 0;

		ul {
			position: absolute;
			top: 0;
			left: 100%;
			display: none;
		}

		a {
			display: block;
			padding: $link-padding;
			color: $link-color;
			text-decoration: none;
		}
	}

}